#carte {
    min-height: 20vh;
    padding: 3vh;
    display: grid;
    place-items: center stretch;
}

.sCarte {
    text-align: center;
    font-size: 7vh;
}

.sCarte > em {
    font-size: 3vh;
}

/* .sCarte::-webkit-details-marker {
    display: none;
} */

.grid_item {
    text-align: center;
    display: grid;
    place-items: center stretch;
}

.grid_item > h3 {
    font-weight: bold;
}