@font-face {
	font-family: "Kaushan Script";
	src: url("./polices/Kaushan_Script/KaushanScript-Regular.ttf") format("truetype"),
}


body {
	margin: 0;
	font-family: 'Josefin Slab', serif,'Roboto', BlinkMacSystemFont, 'Segoe UI', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}